body {
  width: 768px;
  max-width: 96%;
  margin: 0 auto;
}

header {
  color: #333;
  font-family: 'Fredoka One', 'Comic Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  padding: 0;
}

#top-menu ul {
  padding: 0;
}

#top-menu li {
  list-style: none;
  display: inline-block;
}

#top-menu li:not(:first-child) {
  padding-left: 3em;
}

#top-menu a {
  color: #595959;
  text-decoration: none;
}

#top-menu a:hover {
  color: #7f7f7f;
  text-decoration: underline;;
}

.comic {
  max-width: 100%;
  margin: 0 auto;
}
