      <nav class="pagination-menu">
        <ul>
          {{range last 1 (where .Site.Pages "Section" "comic")}}
          <li><a href="{{.Permalink}}">&laquo; FIRST</a></li>
          {{end}}
          <li><a href="{{with .PrevInSection}}{{.Permalink}}{{end}}">&lsaquo; PREV</a></li>
          <li><a href="{{with .NextInSection}}{{.Permalink}}{{end}}">NEXT &rsaquo;</a></li>
          {{range first 1 (where .Site.Pages "Section" "comic")}}
          <li><a href="{{.Permalink}}">LAST &raquo;</a></li>
          {{end}}
        </ul>
      </nav>
